form(action='/new', method='POST')
    p
      | message: 
      input(type='text', name='text', value='')
      | name: 
      input(type='text', name='name', value='')
    input(type='submit', value='Submit')